*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header{
	padding: 20px 2% 35px 2%;
	height: 120px;
}

header .logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}

header nav.mobile{
	margin-top: 40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../imagens/icon_menu.png');
	margin-top: 40px;
	display: none;
}

nav.mobile ul{
	position: absolute;
	left: 0;
	top: 90px;
	z-index: 2;
	width: 100%;
	text-align: center;
	background-color: white;
	border-bottom: 4px solid #eb2d2d;
}

nav.mobile li{
	font-size: 23px;
	padding: 20px 0;
	font-style: italic;
}

nav.mobile ul li a{
	text-decoration: none;
}

header nav ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding: 0 30px;
	font-style: italic;
}

header nav.desktop a{
	text-decoration: none;
	color: black;
}

section.banner{
	width: 100%;
	height: 100vw;
	min-height: 600px;
	background: black;
	background-image: url(../imagens/bg.jpg);
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
	max-height: 800px;
}

.text-banner{
	padding: 100px;
}

.text-banner-single{
	color: white;
	width: 314px;
	height: 60px;
	background-image: url('../imagens/box-text.png');
	font-size: 23px;
	background-size: 100% 100%;
	padding: 8px 30px;
	text-transform: uppercase;
	margin-top: 20px;
	font-style: italic;
}

.text-banner-single:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
	height: 50px;
}

.text-banner-single:nth-of-type(3){
	width: 170px;
	position: relative;
	left: -20px;
	height: 50px;
}

.text-banner-single:nth-of-type(4){
	width: 320px;
	position: relative;
	left: -30px;
	height: 50px;
	background-image: url('../imagens/box-white-text.png');
	color: black;
	font-size: 20px;
}

section.veiculos-destaque{
	padding: 90px 2%;
}

section.veiculos-destaque .container{
	max-width: 800px;
	padding: 40px 0;
}




.line-titulo{
	position: relative;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.line{
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	top: 20px;
}

section.veiculos-destaque .line-titulo > h2{
	position: relative;
	text-align: center;
	font-size: 24px;
	font-style: italic;
	text-transform: uppercase;
	display: inline-block;
	background: white;
	padding: 0 20px;
}

.vitrine-destaque{
	float: left;
	width: 33.3%;
	text-align: left;
}

.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	border: 8px solid white;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}

.vitrine-destaque p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}

.vitrine-destaque a{
	text-decoration: none;
	margin-left: 8px;
	margin-top: 6px;
	color: white;
	font-style: italic;
	font-weight: bold;
	width: 150px;
	background-color: #eb2d2d;
	line-height: 40px;
	display: block;
	text-align: center;
	border-bottom: 5px solid #b21e1e;
}

@media screen and (max-width: 580px){
	.text-banner{
		padding: 30px;
	}

	section.veiculos-destaque .container{
		text-align: center;
		max-width: 1000px;
		padding: 40px 0;

	}

	.info-carro{
		text-align: center;
	}

	.vitrine-destaque{
		float: none;
		width:80%;
		display: inline-block;
	}

	.vitrine-destaque a{
		display: inline-block;
	}
}

@media screen and (max-width: 720px){
	header nav.desktop{
		display: none;
	}

	header nav.mobile{
		display:block;
	}
}

@media screen and (max-width: 768px){
	section.banner{
		height: 70vw;
		min-height: 0;
		max-height: 800px;
	}
}

@media screen and (max-width: 800px){
	.text-banner{
		padding: 70px;
	}
}

